<div class="hub-container">
  <div class="hub-header">
    <h1 class="main-title">Esplora le razze <span class="highlight">Shiba</span></h1>
    <p class="subtitle">Seleziona una razza per visualizzare le razze e interagire con la community</p>
  </div>

  <div class="breed-grid">
    <div class="breed-card aka" [routerLink]="['/shiba', 'rosso']">
      <div class="card-overlay">
        <div class="breed-info">
          <h3>Rosso (Aka)</h3>
          <span>Vedi Cards →</span>
        </div>
      </div>
    </div>

    <div class="breed-card black" [routerLink]="['/shiba', 'nero']">
      <div class="card-overlay">
        <div class="breed-info">
          <h3>Nero (Kuro)</h3>
          <span>Vedi Cards →</span>
        </div>
      </div>
    </div>

    <div class="breed-card sesame" [routerLink]="['/shiba', 'sesamo']">
      <div class="card-overlay">
        <div class="breed-info">
          <h3>Sesamo (Goma)</h3>
          <span>Vedi Cards →</span>
        </div>
      </div>
    </div>

    <div class="breed-card white" [routerLink]="['/shiba', 'bianco']">
      <div class="card-overlay">
        <div class="breed-info">
          <h3>Bianco (Shiro)</h3>
          <span>Vedi Cards →</span>
        </div>
      </div>
    </div>
  </div>
</div>