<div class="button-group">
  <a class="primary-button" [routerLink]="['/prova']" [routerLinkActive]="'is-active'">
    Aggiungi il tuo Shiba
  </a>
  <section class="shiba-story-section">
  <div class="container">
    <div class="story-content">
      <p>
        Il cane <strong>Shiba Inu</strong> è una razza giapponese dalle origini antichissime; sapevi che, ancora oggi, è una tra le più popolari in Giappone? 
        Questi cani di taglia media in origine venivano allevati per cacciare selvaggina piccola come conigli e uccelli, ma ora sono tenuti principalmente come animali da compagnia.
      </p>
      <p>
        Ciò nonostante, ci sono molte cose che non si conoscono di questa affascinante razza canina. Per esempio, lo sapevi che <em>Shiba Inu</em> si traduce in “piccolo cane”? 
        Diventato famoso per il film “Hachiko”, si tratta di una delle sei razze native giapponesi riconosciute dalla Federazione Cinologica Internazionale… e le curiosità non finiscono qui.
      </p>
    </div>
  </div>
</section>
  <a class="primary-button" [routerLink]="['/adozione']" [routerLinkActive]="'is-active'">
    Adozione Shiba
  </a>
</div>
